extends layout

block content
  .readable-content
    article.page.hentry
      .intro
        h2
          | Hi! I am a
          span.label 
            #skills software engineer
            #skills_list
              span game designer
              span game programmer
              span vr enthusiast
              span cattle farmer
              span website developer
              span writer
              span musician
              span retro gamer
              span server administrator
              span movie buff
              span music lover
              span code ninja
              span hardware programmer
              span mobile developer
              span test engineer
          | cooking up my latest batch of code, and serving up the next great idea.
        .post-list
            h2 Latest From The Blog

            ul
              each article in articles
                if (article.metadata.published != null && article.metadata.published != false)
                  li
                    h3
                      a(href=article.url)= article.title
                    span.date= moment.utc(article.date).format('MMM DD, YYYY')

//block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Next page »



